.Features__container {
  display: flex;
  margin: 15px;
  padding: 10px;
}
.Features__card {
  width: 33.33%;
  padding-left: 10px;
  padding-right: 30px;
  line-height: 3;
  overflow: hidden;
  height: 500px;
}
.Features__card p{
    color:rgba(0, 0, 0, 0.6);
    text-align: justify;
    line-height: 1.5;
}
.Features__card a{
    font-weight: 700;
    color:rgba(0, 0, 0, 0.4);
    
}
.Features__card > img {
  width: 100%;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .Features__container {
      display: flex;
      flex-direction: column;
  }
  .Features__card{
      width: 100%;
      margin-bottom: 20px;

  }
}
