
.Header__info{
  display: flex;
  justify-content:space-around; 
 
}
.logo{
  display: flex;
  justify-content: space-between;
}
.Header img{
  width: 150px;
  height: 150px;
}
.info_container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.info{
  display: flex;
  /* border: 1px solid black; */
  text-align: justify;
  padding: 10px;
  margin: 10px;
}
.flex{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex h4,p{
  font-size: 14px;
  text-align: justify;
  line-height: 1.7;
}
.Navbar {
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 110px;
  left: 0;
  display: flex;
  justify-content: center;
}
.navItem {
  background-color: rgb(14, 48, 78);
  padding: 20px;
  width: 70%;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.navItem li {
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
  color: white;
  font-weight: 400;
}
.link{
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
}
.login {
  background-color: #f89121;
  padding: 31px;
  color: white;
  font-weight: 400;
  cursor: pointer;

}
.google{
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  z-index: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
}
.google img{
  width: 20px;
  height: 20px;
}
.mobile-menu-icon{
  display: none;

}
.button{
  padding: 0;
  margin: 0;
  border: none;
  color: white;
  background-color: #f89121;
  cursor: pointer;
}
@media (max-width:768px){
  .Header__info{
    flex-direction: column;
  }
  .Navbar{
    display: flex;
    flex-direction: column;
    position: sticky;
  }
  .navItem{
    display: none;
  }
  .mobile-menu-icon{
    display: block;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  .navItem_mobile{
    display: block;
    background-color: rgb(14, 48, 78);
    width: 100%;
    height: 100%;
    color: white;
    line-height: 3;
    text-align: center;
   
  }
  .login{
    display: none;
  }
  .login__mobile{
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: #f89121;
    padding: 20px;
    color:white;
  } 
  .info{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    
  }
}